body {
  font-family: sans-serif;
  background: #f5f5f5;
}

.hidden {
  display: none;
}

.hackentines-day-card-container {
  width: 500px;
  height: 200px;
  margin: 40px auto;
  background-color: #E1E1E1;
  padding: 250px 25px;
  cursor: pointer;
}

.swatch {
  padding: 50px;
  margin: 10px;
  text-align: center;
}

.hearts {
  background: url("../images/hearts.jpg") repeat;
}

.hearts-gray {
  background: url("../images/hearts-gray.jpg") repeat;
}

.love {
  background: url("../images/love.png") repeat;
}

.pink-hearts {
  background: url("../images/pink-hearts.jpg") repeat;
}

.pink-text {
  color: #ff6c6c;
}

.pink-background {
  background: #ff6c6c;
}

.blue-text {
  color: #74a3fa;
}

.blue-background {
  background: #74a3fa;
}

.teal-text {
  color: #b2fffc;
}

.teal-background {
  background: #b2fffc;
}

.seafoam-text {
  color: #30eae1;
}

.seafoam-background {
  background: #30eae1;
}

.salmon-text {
  color: #d85e5e;
}

.salmon-background {
  background: #d85e5e;
}

.orange-text {
  color: #ffae6a;
}

.orange-background {
  background: #ffae6a;
}

.light-pink-text {
  color: #fdc8c8;
}

.light-pink-background {
  background: #fdc8c8;
}

.black-text {
  color: #000;
}

.black-background {
  background: #000;
}

.white-text {
  color: #FFF;
}

.white-background {
  background: #FFF;
}

.animation {
  background: url("../images/animation.gif") no-repeat;
  width: 475px;
  height: 377px;
  position: relative;
}

.alfa-font {
  font-family: 'Alfa Slab One', cursive;
}

.permanent-marker-font {
  font-family: 'Permanent Marker', cursive;
}

.nova-font {
  font-family: 'Nova Mono', cursive;
}

.mono-font {
  font-family: 'Monoton', cursive;
}

.start-font {
  text-align: center;
  font-size: xx-large;
  font-family: 'Press Start 2P', cursive;
}

.bowlby-font {
  font-family: 'Bowlby One SC', cursive;
}

.cursive-font {
  font-family: 'Cedarville Cursive', cursive;
}

 .round-corner {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
} 

body {
 background: #ccc;   
}
.flip {
  -webkit-perspective: 800;

  width: 575px;
  height: 477px;
  margin: 100px auto;
  position: relative;
  cursor: pointer;

}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;

}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: #E1E1E1;
    color: gray;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    background: #E1E1E1;
    font-size: 25px;
    color: black;
    cursor: pointer;
    text-align: center;
}

p {
   display:block;
   width:300px;
   border:1px solid black;
   position:absolute;
   top:28%;
   text-align:center;
}

.back-wrapper {
  height: 300px;
  margin: auto 0;
}

